.send-button {
    width: 100%;
    border-radius: 8px; 
    border: 1px solid #7abeca;;
    padding: .5rem 1rem;
    background: #7abeca;
}
.change-email-p {
    padding-top: 1rem;
}
.linked-container {
   padding: 1rem 1.5rem;

}