
.showcase-heading {
    padding: .25rem;
    margin: 1.5rem 0;
}

.showcase-subheading {
    margin-bottom: .5rem;
}

.plan-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.showcase-cta {
    margin: 2rem 0 ;
    padding: 1rem;
    border: none;
    text-align: center;
    border-radius: var(--input-border-radius);
    font-size: 1.1rem;

}

@media screen and (min-width: 800px) {
    .plan-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .showcase-cta {
        width: 60%;
        align-self: center;
    }
}